/* General style specifications*/
:root {
    --ticket: #82c6ed;
    --background: #fffef8;
    --text:#141413;
}
/* Elements total width and height include padding and border*/
*, *::before, *::after {
    box-sizing: border-box;
}

/*<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">*/

h1,h2,h3,h4,h5,a {
    font-family: "Nunito", arial;
    color: var(--text);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--background);
}

main{
    display: flex;
    height: 65px;
    flex-direction: row;
    height: 100%;
}

.left-side{
    flex-grow:4;

}

.right-side{
    width:27%;
    border-left: 5px dotted rgb(128, 118, 95);
    height: 100%;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    right: 0;
   
    

}