:root {
    --ticket: #44ad60;
    --background: #fffef8;
    --text:#141413;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);

}

.container {
    width: 80%;
    height: 60%;
    display: flex;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #fff;
}

.right-section {
    flex: 1;
    background-color: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 100%;
    max-width: 300px;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.logo {
    text-align: center;
}

.logo-image{
    height:300px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--ticket);
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}