<!DOCTYPE html>

<html>

<head>
    <title>Main</title>

    <!-- Importing font family from google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/headerfooter.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <meta name="author" content="Zhaoxing Li">

    <script src="http://code.jquery.com/jquery-3.3.1.slim.js"
        integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript">
        google.charts.load('current', {
            'packages': ['geochart'],
            'mapsApiKey': 'AIzaSyDh1jJ04hFPaPz5xYHRGpEu0EGxf2kD18g',
        });
        google.charts.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {
            var list = /*[[${meals}]]*/[];
            var finalList = [];
            list.forEach((meal) => {
                finalList.push([meal.city, meal.title])
            });

            var data = new google.visualization.DataTable();

            data.addColumn('string', 'City');
            data.addColumn('string', 'Meal Name');

            data.addRows(finalList);


            console.log(data);
            var options = {
                displayMode: 'markers',
                resolution: 'regions',
            };

            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

            chart.draw(data, options);
        }


    </script>
</head>

<body style="height: 100vh">
    <header>
        <div class="ticket-top">
            <h1>EAT THE GLOBE</h1>
        </div>

        <div class="menu">
            <div class="menu-header">
                <h1 id="legends">Legends</h1>
            </div>
        </div>
    </header>

    <main style="height: 100%;">
        <div class="left-side">
            <div id="regions_div" style="max-width: 100%; height: calc(100vh - 123px);">/ </div>
        </div>
        <div class="right-side">
            <div class="navbar" th:unless="${meals}">
                <h2>There are no meals currently on display. Click the plus button to add some more!</h2>
                <button id="toggleNavbarForm">+</button>
            </div>
            <table th:if="${meals}" style="margin-left: auto; margin-right: auto;">
                <th>Meal Name</th>
                <th>Username</th>
                <tr th:each="meal: ${meals}">
                    <td th:text="${meal.title}"></td>
                    <td th:text="${meal.owner.username}"></td>
                </tr>
            </table>

            <form th:action="@{/meals}" method="post" id="form" style="margin-left: auto; margin-right: auto;">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" placeholder="Your meal..." th:value="${title}">
                <label for="country">Country:</label>
                <input type="text" id="country" name="country" placeholder="Type in country..." th:value="${country}">
                <label for="city">City:</label>
                <input type="text" id="city" name="city" placeholder="Your city..." th:value="${city}">
                <label for="checkbox">Post public</label>
                <input type="checkbox" id="checkbox" name="checkbox" th:checked="${is_public}">
                <button type="submit" id="add">Add meal</button>
            </form>
        </div>
    </main>
    <script src="/js/general.js"></script>

    <footer>
        <div class="footer-one">
            <h3>Tom, Tom, Yejin, Xing</h3>
        </div>
        <div class="footer-two">
            <p>HackSheff 2024</p>
        </div>
    </footer>


</body>

</html>