<!DOCTYPE html>

<html>

<head>
    <title>Main</title>

    <!-- Importing font family from google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/headerfooter.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <meta name="author" content="Zhaoxing Li">
</head>

<body>
    <header>
        <div class="ticket-top">
            <h1>EAT THE GLOBE</h1>
        </div>

        <div class="menu">
            <div class="menu-header">
                <h1>YOUR MENU</h1>
            </div>
        </div>
    </header>

    <main>
            <div class="left-side">
                <h1>This is a H1 the biggest</h1>
                <h2>This is H2, the second biggest</h2>
                <h3>This is H3, the third biggest</h3>
                <p>This is the average text size</p>
                <button class="primary-button">Open Modal</button>
                <button class="secondary-button">Press Me</button>
                <button class="tertiary-button">Press Me</button>
            </div>

            <div class="right-side">
                <div class="navbar">
                    <a href="#">Map</a>
                    <a href="#">Profile</a>
                    <a href="#">Clients</a>
                    <a href="#">Contact</a>
                    <button id="toggleNavbarForm">+</button>
                </div>

                <form id="form" class="hidden">
                    <label for="country">Country:</label>
                    <input type="text" id="country" name="country" placeholder="Type in country...">
                    <label for="meal">Meal:</label>
                    <input type="text" id="meal" name="meal" placeholder="Your meal...">
                    <label for="recipe">Recipe:</label>
                    <input type="text" id="recipe" name="recipe" placeholder="Your recipe...">
                    <button id="add">Add meal</button>
                </form>
            </div>
    </main>
    <script src="/js/general.js"></script>

    <footer>
        <div class="footer-one">
            <h3>Tom, Tom, Yejin, Xing</h3>
        </div>
        <div class="footer-two">
            <p>HackSheff 2024</p>
        </div>
    </footer>


</body>

</html>
