
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    flex-direction: row;
}

.ticket-top, .footer-one{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    flex-grow: 4;
    flex: 0.99;
    border-bottom-right-radius: 25px;
    background-color: var(--ticket);
    height: 100%;
}

.menu, .footer-two{ 
    padding: 0;
    margin: 0;
    width:27%;
    border-left: 5px dotted rgb(128, 118, 95);
    
}

.menu-header{
    width: 0.5; 
    height: 65px; 
    border-bottom-left-radius: 25px;
    background-color: var(--ticket); /* Ensure the background color covers the entire header */
    display: flex; /* Flex to center the content */
    align-items: center;
    justify-content: center;
   
}

footer{
    min-height: 40px;
    position: absolute;
    inset: auto 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--ticket);
}